<td> <%= id %> </td>
<td> <%= nopol %> </td>
<td> <%= merk %> </td>
<td> <%= jenis %> </td>
<td> <%= tahun %> </td>
<td> <%= pemilik %> </td>
<td> <%= warna %> </td>
<td> <%= daerah %> </td>
<td>
    <span class="btn btn-primary btn-xs btnInput" btnJual>Jual</span>
    <span class="btn btn-primary btn-xs btnInput" btnMutasi>Mutasi</span>
    <span class="btn btn-primary btn-xs btnInput" btnDesign>Ganti Desain</span>
    <span class="btn btn-primary btn-xs btnInput" btnPajak>Pajak</span>
    <span class="btn btn-danger btn-xs btnInput" btnRemove>Remove</span>
    <span class="btn btn-warning btn-xs btnInput" btnEdit>Edit</span>
    <span class="btn btn-info btn-xs btnInput" btnDetail>Detail</span>
</td>
