<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Form Add New Item</h4>
    </div>
    <div class="modal-body">
        <form  id="formAddNew" class="form-horizontal row" action="#">
            <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" >Tipe</label>
                <div class="col-md-5">
                    <input id="textTipe" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Luas Tanah</label>
                <div class="col-md-5">
                    <input id="textLTanah" type="text"class="form-control input-md">
            </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Luas Bangunan</label>
                <div class="col-md-6">
                    <input id="textLBangunan" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Warna</label>
                <div class="col-md-4">
                    <input id="textWarna" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Pemilik</label>
                <div class="col-md-4">
                    <input id="textPemilik" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Penghuni</label>
                <div class="col-md-4">
                    <input id="textPenghuni" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Alamat</label>
                <div class="col-md-4">
                    <input id="textAlamat" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Telp</label>
                <div class="col-md-4">
                    <input id="textTelp" type="text" class="form-control input-md">
                </div>
            </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <span id="modalError" class="pull-left"></span>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" submit>Submit</a>
    </div>
    </div>
</div>
