<td> <%= id %> </td>
<td> <%= tipe %> </td>
<td> <%= luastanah %> </td>
<td> <%= luasbangunan %> </td>
<td> <%= warna %> </td>
<td> <%= pemilik %> </td>
<td> <%= penghuni %> </td>
<td> <%= alamat %> </td>
<td> <%= telp %> </td>
<td>
    <span class="btn btn-primary btn-xs" btnJual >Jual</span>
    <span class="btn btn-primary btn-xs" btnSewa >Sewa</span>
    <span class="btn btn-primary btn-xs" btGantiCat >Ganti Cat</span>
    <span class="btn btn-danger btn-xs" btnRemove >Remove</span>
    <span class="btn btn-warning btn-xs " btnEdit >Edit</span>
    <span class="btn btn-info btn-xs" btnDetail >Detail</span>
</td>
