<td> <%= id %> </td>
<td> <%= nopol %> </td>
<td> <%= merk %> </td>
<td> <%= jenis %> </td>
<td> <%= tahun %> </td>
<td> <%= pemilik %> </td>
<td> <%= warna %> </td>
<td> <%= daerah %> </td>
<td>
    <span class="btn btn-primary btn-xs" btnJual >Jual</span>
    <span class="btn btn-primary btn-xs" btnMutasi >Mutasi</span>
    <span class="btn btn-primary btn-xs" btnDesign >Ganti Desain</span>
    <span class="btn btn-primary btn-xs" btnPajak >Pajak</span>
    <span class="btn btn-danger btn-xs" btnRemove >Remove</span>
    <span class="btn btn-warning btn-xs" btnEdit >Edit</span>
    <span class="btn btn-info btn-xs" btnDetail >Detail</span>
</td>
