<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
    </div>
    <div class="panel-body">
        <form  id="formAddNew" class="form-horizontal row" action="#">
            <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" >Nomor Polisi</label>
                <div class="col-md-5">
                    <input value="<%= nopol %>" type="text" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Merk</label>
                <div class="col-md-5">
                    <input value="<%= merk %>" type="text"class="form-control input-md">
            </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Nama Pemilik</label>
                <div class="col-md-6">
                    <input value="<%= pemilik %>"type="text" class="form-control input-md disable">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Jenis</label>
                <div class="col-md-4">
                    <input type="text" value="<%= jenis %>" class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Daerah</label>
                <div class="col-md-4">
                    <input type="text" value="<%= daerah %>"class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Tahun</label>
                <div class="col-md-4">
                    <input type="text" value="<%= tahun %>"class="form-control input-md">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Warna</label>
                <div class="col-md-4">
                    <input type="text" value="<%= warna %>" class="form-control input-md">
                </div>
            </div>
            </fieldset>
        </form>
    </div>
</div>
