<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Action Form</h4>
        </div>
        <div class="modal-body">
            <form  id="formEdit" class="form-horizontal row" action="#">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Value</label>
                        <div class="col-md-4">
                            <input id="textValue" type="text" class="form-control input-md">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <span id="modalError" class="pull-left"></span>
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" btnSubmit>Submit</a>
        </div>
        </div>
    </div>
</div>
