<h2>Mobil</h2>
<table class="table table-bordered">
    <thead>
        <th>ID</td>
        <th>No Polisi</td>
        <th>Merk</td>
        <th>Jenis</td>
        <th>Tahun</td>
        <th>Pemilik</td>
        <th>Warna</td>
        <th>Daerah</td>
        <th>Action</th>
    </thead>
    <tbody>
    </tbody>
</table>
<button class="btn btn-default btn-block" add>
    <span class="glyphicon glyphicon-plus"></span> Add New
</button><br/>
<div class="row">
    <div id="detailDiv" class="col-sm-12"></div>
</div>
