<h2>Rumah</h2>
<table class="table table-bordered">
    <thead>
        <th>ID</td>
        <th>TIPE</td>
        <th>L.TANAH</td>
        <th>L.BANGUNAN</td>
        <th>WARNA</td>
        <th>PEMILIK</td>
        <th>PENGHUNI</td>
        <th>ALAMAT</td>
        <th>TELP</th>
        <th>Action</th>
    </thead>
    <tbody>
    </tbody>
</table>
<button class="btn btn-default btn-block" add>
    <span class="glyphicon glyphicon-plus"></span> Add New
</button><br/>
<div class="row">
    <div id="detailDiv" class="col-sm-12"></div>
</div>
